body.fullscreen {
    background: #e5e9ee;
}

body.fullscreen .tau-app-header,
body.fullscreen .app-header,
body.fullscreen .tau-board-header,
body.fullscreen .tau-board-settings,
body.fullscreen .tau-app-secondary-pane,
body.fullscreen .tau-boardclipboard,
body.fullscreen .i-role-axis-mark-selector,
body.fullscreen .tau-board-view-switch  {
    display: none;
}

body.fullscreen .tau-app-main-pane,
body.fullscreen .tau-board-body,
body.fullscreen .tau-board {
    left: 0 !important;
    top: 0 !important;
    height: 100% !important;
}

.tau-btn-fullscreen {
    padding: 0;
    margin: 0;
}

.icon-fullscreen {
    margin: 5px;
    width: 12px;
    height: 12px;
    display: inline-block;
    background-position: -820px -159px;
}

body.fullscreen .tau-board-list-sticky-header {
    position: static !important;
}

body.fullscreen .tau-board-list-sticky-header + .i-role-cardsholder {
    margin-top: 0px !important;
}

.tau-board-header__control--mashup {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 10px;
}