.cf-constraints-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    right: inherit;
    bottom: inherit;
    margin-top: -200px;
    margin-left: -300px;
    width: 530px;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.cf-constraints-container {
    max-height: 400px;
    overflow: auto;
}

.cf-constraints-entity-name {
    padding: 0 10px;
    margin-bottom: 10px;
}

.cf-constraints-entity-name .ui-type-icon {
    margin-right: 5px;
}

.cf-constraints-customFields {
    padding-bottom: 15px;
}

.cf-constraints-note {
    color: #606B73;
    padding: 10px 10px;
    background-color: #FFFFE1;
    margin-bottom: 5px;
}

.cf-constraints-save {
    margin-left: 8px;
}

.cf-constraints-customFields .ui_custom_field_value_container {
    border: 1px solid #CCC;
    border-radius: 3px 3px 3px 3px !important;
}

.cf-constraints-customFields .ui-customfield {
    margin-bottom: 5px;
}

.cf-constraints-customFields .ui-customfield_editable_true:hover .ui-customfield__label {
    background: #fff;
}

.cf-constraints-customFields .ui-customfield-richtext .ui-customfield__value.editable:hover {
    background: #FFFFE1;
}

.cf-constraints-richText .ui_custom_field_value_container {
    padding: 0;
}