.embedded-pages-tab-frame {
    width: 100%;
    height: 700px;
    overflow: scroll;
    border: 1px solid #CCCCCC;
}

.embedded-pages-tab-empty {
    color: #BBBBBB;
    font-size: 11px;
    display: block;
}